<div id='new-teacher-subject'>
  <%= form_with model: @teacher_subject, url: teacher_teacher_subjects_path(@teacher), create_remote: true do |form| %>
    <%= render partial: 'shared/errors', locals: { model: @teacher_subject } %>

    <div class="field">
      <%= form.label :subject %>
      <%= form.select :subject_id, options_from_collection_for_select(Subject.all.where.not(id: @teacher.subjects), :id, :name) %>
    </div>

    <div class="field">
      <%= form.label :level %>
      <%= form.number_field :level %>
    </div>

    <div class="actions">
      <%= form.submit 'Add' %>
    </div>
  <% end %>
</div>
