<%= form_with(model: teacher, local: true) do |form| %>
  <%= render partial: 'shared/errors', locals: { model: teacher } %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, required: true %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
